{% extends 'index.html' %}

{% block content %}

    <h1>List of courses</h1>
    {% for course in courses %}
        <div class="row">
            <div class="column">
                <p>{{ course.name }}</p>
            </div>
            <div class="column">
                <a href="{% url 'single-course' course.pk %}">Link</a>
            </div>
            <div>
                <a href="{% url 'delete-course' course.pk %}">Delete</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}